@import "normalize";
@import "colors";
@import "bourbon/bourbon";

@mixin font-feature-settings($settings...) {
    @include prefixer(font-feature-settings, $settings, webkit moz spec);
}

$color-purple: #130026;
$color-purple-light: lighten($color-purple, 10%);
$color-orange: #F16635;
$color-ocean: #cecece;
$color-tan: #E0DAC0;


@include font-face($font-family: "Aften",
                   $file-path: "../fonts/aften_screen",
                   $weight: 400,
                   $style: normal);

@include font-face($font-family: "Aften",
                   $file-path: "../fonts/aften_screen_bold",
                   $weight: 700,
                   $style: normal);


@include font-face($font-family: "Aften",
                   $file-path: "../fonts/aften_screen_italic",
                   $weight: 400,
                   $style: italic);


* {
    @include box-sizing(border-box);
}

body, html {
    margin: 0;
    padding: 0;
    background: white;
    font-family: Aften, sans-serif;
}

