@import "normalize";
@import "colors";
@import "bourbon/bourbon";

.lang0, .javascript { fill-color: $color-belize-hole; }
.lang1, .ruby { fill-color: $color-alizarin; }
.lang2, .java { fill-color: $color-turquoise; }
.lang3, .python { fill-color: $color-nephritis; }
.lang4, .shell { fill-color: $color-wisteria; }
.lang5, .php { fill-color: $color-peter-river; }
.lang6, .c { fill-color: $color-sunflower; }
.lang7, .cpp { fill-color: $color-orange; }
.lang8, .perl { fill-color: $color-pomegranate; }
.lang9, .objc { fill-color: $color-carrot; }

@mixin font-feature-settings($settings...) {
    @include prefixer(font-feature-settings, $settings, webkit moz spec);
}


@include font-face($font-family: "Aften",
                   $file-path: "../fonts/aften_screen",
                   $weight: 400,
                   $style: normal);

@include font-face($font-family: "Aften",
                   $file-path: "../fonts/aften_screen_bold",
                   $weight: 700,
                   $style: normal);


@include font-face($font-family: "Aften",
                   $file-path: "../fonts/aften_screen_italic",
                   $weight: 400,
                   $style: italic);

@include font-face($font-family: "Aften SC",
                   $file-path: "../fonts/aften_screen_sc",
                   $weight: 400,
                   $style: normal);


* {
    @include box-sizing(border-box);
}

body, html {
    margin: 0;
    padding: 0;
    background: white;
    font-family: Aften, sans-serif;
    color: #444;
}


a {
    color: $color-wet-asphalt;
    @include transition(color 0.1s linear);
    &:visited {
        color: $color-belize-hole;
    }
    &:hover {
        color: $color-peter-river;
    }
}

.sc {
    font-family: "Aften SC", sans-serif;
}

.guide {
    font-size: 1em;
    color: $color-silver;
    font-style: italic;
    margin-top: 1.5em;
    .arrow {
        color: $color-orange;
        padding: 0 0.5em;
    }
}


#intro {
    border-left: 1em solid $color-clouds;
    padding: 2em 2em 2em 3em;
    min-height: 100vh;
    h1 {
        font-weight: normal;
        font-size: 4em;
        margin-top:0;
        margin-bottom: 0.5em;
        padding-top: 0.25em;
    }
    p {
        font-size: 1.125em;
        max-width: 45em;
        line-height: 1.75em;
        &.lede {
            font-size: 1.5em;
            max-width: 40em;
            line-height: 1.5em;
            margin: 0;
        }
    }
    nav {
        @include clearfix;
        a {
            display: block;
            float: left;
            margin-right: 1em;
            text-decoration: none;
            width: 200px;
            p, img {
                @include transition(all 0.1s linear);
            }
            .chapter {
                font-style: italic;
                color: $color-silver;
                margin: 0;
                font-size: 0.75em;
            }
            .title {
                color: $color-asbestos;
                font-size: 1.125em;
                margin: 0;
            }
            img {
                opacity: 0.5;
            }
            &:hover {
                .chapter {
                    color: $color-asbestos;
                }
                .title {
                    color: $color-peter-river;
                }
                img {
                    opacity: 1.0;
                }
            }
        }
    }


}

section {
    border-left-style: solid;
    border-left-width: 1em;
    border-left-color: $color-clouds;
    padding: 0 0 2em;
    header {
        background-color: $color-asbestos;
        padding: 4em 2em 3em 3em;
        margin-bottom: 2em;
        h1 {
            color: white;
            font-weight: normal;
            font-size: 4em;
            margin-top:0;
            margin-bottom: 1.25em;
            font-weight: normal;
            &:before {
                display: block;
                content: attr(data-chapter);
                color: $color-clouds;
                font-size: 0.3em;
                font-family: "Aften SC", sans-serif;
                opacity: 0.5;
                text-transform: lowercase;
                letter-spacing: 0.25em;
                padding-bottom: 0.5em;
            }

        }
        p {
            color: $color-clouds;
            font-size: 1.25em;
            max-width: 45em;
            line-height: 1.75em;
            &.lede {
                font-size: 2em;
                max-width: 40em;
                line-height: 1.5em;
            }
        }
    }
    p {
        font-size: 1.125em;
        max-width: 45em;
        line-height: 1.75em;
    }
    .row {
        @include clearfix;
        padding: 2em 2em 2em 3em;
        &>* {
            float: left;
            margin-right: 5%;
            &:last-child {
                margin-right: 0;
            }
        }
        &>.full {
            max-width: 35em;
            min-width: 20em;
            width: auto;
        }
        &>.half {
            width: 47.5%;
        }
        &>.third {
            width: 30%;
        }
        &>.left_display {
            width: 550px;
            text-align: center;
            margin-right: 2em;
        }
    }

    article {
        h1 {
            font-family: "Aften SC", sans-serif;
            font-weight: normal;
            color: $color-asbestos;
            font-size: 1.5em;
            margin-top: 0;
        }
    }
    figure {
        display: block;
        text-align: center;
    }
    figcaption {
        font-size: 0.85em;
        font-style: italic;
    }
}

#polyglot_tendencies {
    border-left-color: $color-asbestos;
}



#circle {
    circle {
        fill: none;
        pointer-events: all;
    }
    text {
        fill: white;
    }

    .chord {
        @include transition (all 0.1s linear);
        stroke-width: 1;
        stroke: white;
    }
    &:hover, &.permafade, &.lockfade {
       .chord.fade {
               // fill: $color-clouds !important;
               opacity: 0.075;
           }
    }

}

@mixin language_link($color) {
    background-color: $color;
    @include transition(background-color 0.1s linear);
    &:hover {
        background-color: lighten($color, 10%);
    }
}
a.chordlang {
    display: inline-block;
    padding: 0 0.2em;
    border-radius: 2px;
    color: white;
    text-decoration: none;
    &[data-lang="JavaScript"] { @include language_link($color-belize-hole); }
    &[data-lang="Ruby"] { @include language_link($color-alizarin); }
    &[data-lang="Java"] { @include language_link($color-turquoise); }
    &[data-lang="Python"] { @include language_link($color-nephritis); }
    &[data-lang="Shell"] { @include language_link($color-wisteria); }
    &[data-lang="PHP"] { @include language_link($color-peter-river); }
    &[data-lang="C"] { @include language_link($color-sunflower); }
    &[data-lang="C++"] { @include language_link($color-orange); }
    &[data-lang="Perl"] { @include language_link($color-pomegranate); }
    &[data-lang="Objective-C"] { @include language_link($color-carrot); }
}
